//COLOR VARIABLES

$color-primary: #754f44;
$color-primary-dark: #4d3e3e;

$color-secondary: #ffc66b;
$color-secondary-light: #fdd692;

$backg-color: #fcffcd;

//FONT VARIABLES
$default-font-size: 1.6rem;
